<nav class="bg-titlebar">
  <div class="flex justify-center float-left ml-auto social">
    <a class="mt-3 ml-3 mr-0.5" href="https://www.facebook.com/StarWars">
      <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/facebook-new.png"/>
    </a> 
    <a class="mt-3 ml-3 mr-0.5" href="https://www.instagram.com/starwars/">
      <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/metro/52/AAAAAA/instagram-new.png"/>
    </a>
    <a class="mt-3 ml-3 mr-0.5" href="https://twitter.com/starwars">
    <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/twitter.png"/>
    </a>
    <a class="mt-3 ml-3 mr-0.5" href="https://www.youtube.com/user/starwars">
    <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/youtube-play.png"/>
    </a>
  </div>
  
  <div class="flex float-right mr-auto">
    <a [routerLink]="['/login']">
      <p class="mt-1 cursor-pointer hover:text-white">LOG IN</p>
    </a>
    <p class="mt-1 ml-0.5 mr-0.5" > | </p>
    <a [routerLink]="['/login']">
      <p class="mt-1 mr-1 cursor-pointer hover:text-white">SIGN UP</p>
    </a>
  </div>
  <section class="flex flex-wrap content-center justify-center ">
    <div>
      <a href="#">
        <img class="logo" src="../../../assets/logo_stacked.png" alt="Star Wars Logo">
      </a>
    </div>
  </section>
  <section class="bg-black h-14">
    <div class="flex justify-center outline-solid-aaa h-14">
      <div class="cursor-pointer group outline-solid-aaa h-14 bg-black-500">
        <a href="https://www.starwars.com/news">
          <p class="ml-5 mr-5 mt-3.5 group-hover:text-white">
          NEWS + BLOG
        </p>
        </a>
      </div>
      <div class="cursor-pointer group outline-solid-aaa h-14 bg-black-500">
        <a href="https://www.starwars.com/video">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          VIDEO
        </p>
        </a>
      </div>
      <div class="cursor-pointer group outline-solid-aaa h-14 bg-black-500">
        <a [routerLink]="['/main']">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          HOME
        </p>
        </a>
      </div>
      <div class="cursor-pointer group outline-solid-aaa h-14 bg-black-500">
        <a href="https://www.starwars.com/films">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          FILMS
        </p>
        </a>
      </div>
      <div class="cursor-pointer group outline-solid-aaa h-14 bg-black-500">
        <a href="https://www.starwars.com/community">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          COMMUNITY
        </p>
        </a>
      </div>
    </div>
  </section>
</nav>