<nav class="bg-titlebar">
  <div class="social flex justify-center float-left ml-auto">
    <a class="mt-1 ml-1 mr-0.5" href="https://facebook.com">
      <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/facebook-new.png"/>
    </a> 
    <a class="mt-1 ml-0.5 mr-0.5" href="https://instagram.com">
      <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/metro/52/AAAAAA/instagram-new.png"/>
    </a>
    <a class="mt-1 ml-0.5 mr-0.5" href="https://twitter.com">
    <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/twitter.png"/>
    </a>
    <a class="mt-1 ml-0.5 mr-0.5" href="https://youtube.com">
    <img class="filter filter-brightness-100 hover:filter-brightness-200" src="https://img.icons8.com/ios-filled/50/AAAAAA/youtube-play.png"/>

    </a>
  </div>
  <div class="flex float-right mr-auto">
    <a href="#">
      <p class="mt-1 hover:text-white cursor-pointer">LOG IN</p>
    </a>
    <p class="mt-1 ml-0.5 mr-0.5" > | </p>
    <a href="#">
      <p class="mt-1 mr-1 hover:text-white cursor-pointer">SIGN UP</p>
    </a>
    
    
  </div>
  <section class="flex flex-wrap content-center justify-center ">
    <div>
      <a href="#">
        <img class="logo" src="../../../assets/logo_stacked.png" alt="Star Wars Logo">
      </a>
      
    </div>
  </section>
  <section class="bg-black h-14">
    <div class="outline-solid-aaa h-14 flex justify-center">
      <div class="group outline-solid-aaa h-14 bg-black-500 cursor-pointer">
        <a href="#">
          <p class="ml-5 mr-5 mt-3.5 group-hover:text-white">
          FIRST
        </p>
        </a>
        
      </div>
      <div class="group outline-solid-aaa h-14 bg-black-500 cursor-pointer">
        <a href="#">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          SECOND
        </p>
        </a>
        
      </div>
      <div class="group outline-solid-aaa h-14 bg-black-500 cursor-pointer">
        <a href="#">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          THIRD
        </p>
        </a>
        
      </div>
      <div class="group outline-solid-aaa h-14 bg-black-500 cursor-pointer">
        <a href="#">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          FOURTH
        </p>
        </a>
      </div>
      <div class="group outline-solid-aaa h-14 bg-black-500 cursor-pointer">
        <a href="#">
          <p class=" ml-5 mr-5 mt-3.5 group-hover:text-white">
          FIFTH
        </p>
        </a>
      </div>
    </div>
  </section>
</nav>